In [ ]:
import pandas as pd

In [ ]:
#Loading the DataSet mypersonality
df = pd.read_csv('mypersonality_final.csv' ,encoding='cp1252')
df.head()
#print(df.shape)

                            #AUTHID  ... TRANSITIVITY
0  b7b7764cfa1c523e4e93ab2a79a946c4  ...          0.1
1  b7b7764cfa1c523e4e93ab2a79a946c4  ...          0.1
2  b7b7764cfa1c523e4e93ab2a79a946c4  ...          0.1
3  b7b7764cfa1c523e4e93ab2a79a946c4  ...          0.1
4  b7b7764cfa1c523e4e93ab2a79a946c4  ...          0.1

[5 rows x 20 columns]

In [ ]:
#Checking out Shape of Data set (9917 , 20)
df.shape

(9917, 20)

In [ ]:
#df_id

In [ ]:
#df_id.size()

Merging the dataset based on UniqueAuth IDs, since for each unique IDs the 
Status column which has the text about the personality has same PERSONALITY values, therefore it is necessary to merge text for a each ID's Personality Trait

In [ ]:
#Removing the columns that are not required for the prediction.
df1 = df[df.columns[:12]]
df1.shape

(9917, 12)

In [ ]:
df1

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9917 rows x 12 columns]

In [ ]:
#Since we have unique features for each unique IDs , it is necessary to remove the duplicates
df1 = df1.drop_duplicates(keep='first')

In [ ]:
df1

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9902 rows x 12 columns]

##Cleaning Text

In [ ]:
df1[df1.columns[1]].replace("[^a-zA-Z]"," ",regex=True, inplace=True)
df1['STATUS'] = df1['STATUS'].str.lower()
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9902 rows x 12 columns]

In [ ]:
df_lexicon = pd.read_csv('Emotion_Lexicon.csv', index_col=0)


# some of the words have no emotional category, 
# so let's remove them as they have no use to us.
# can be improved by not even loading them when all columns are 0. maybe later.
df_lexicon = df_lexicon[(df_lexicon.T != 0).any()]
emotional_words = df_lexicon.index.tolist()
#emotional_words

In [ ]:
import re
def tokenization(text):
    text = re.split('\W+', text)
    return text

df1['STATUS'] = df1['STATUS'].apply(lambda x: tokenization(x.lower()))
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9902 rows x 12 columns]

In [ ]:
#Removing unemotional words from the words list

def unemotional_words(text):
    text = [word for word in text if word not in emotional_words]
    return text
    
df1['STATUS'] = df1['STATUS'].apply(lambda x: unemotional_words(x))
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9902 rows x 12 columns]

In [ ]:
#Removing Non English Words, like Slangs, spellling mistakes etc
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

def remove_slang(x):
  text = [x1 for x1 in x if x1 in words]
  return text

df1['STATUS'] = df1['STATUS'].apply(lambda x: remove_slang(x))
df1['STATUS'] = df1['STATUS'].apply(lambda x:" ".join(x))
df1

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                               #AUTHID  ... cOPN
0     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
1     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
2     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
3     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
4     b7b7764cfa1c523e4e93ab2a79a946c4  ...    y
...                                ...  ...  ...
9912  deb899e426c1a5c66c24eeb0d7df6257  ...    y
9913  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9914  ea28a927cb6663480ea33ca917c3c8ba  ...    y
9915  5532642937eb3497a43e15dbb23a9d2d  ...    y
9916  a286b7286b1247d4a7851709e9f31e1e  ...    y

[9902 rows x 12 columns]

In [ ]:
con_col = ['#AUTHID','sEXT','sNEU','sAGR','sCON','sOPN']

In [ ]:
x = df1['STATUS']
y = df1.drop(con_col,axis=1)
y.isnull().sum()

STATUS    0
cEXT      0
cNEU      0
cAGR      0
cCON      0
cOPN      0
dtype: int64

In [ ]:
#x_train[7787]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,yEXT_train,yEXT_test = train_test_split(x,y['cEXT'], test_size=0.20, random_state=42)
x_train,x_test,yNEU_train,yNEU_test = train_test_split(x,y['cNEU'], test_size=0.20, random_state=42)
x_train,x_test,yAGR_train,yAGR_test = train_test_split(x,y['cAGR'], test_size=0.20, random_state=42)
x_train,x_test,yCON_train,yCON_test = train_test_split(x,y['cCON'], test_size=0.20, random_state=42)
x_train,x_test,yOPN_train,yOPN_test = train_test_split(x,y['cOPN'], test_size=0.20, random_state=42)

Creating a bag of words method to create a vocabulary of each of the 
big five personality traits so that the model learns which words are associated 
with which trait.

In [ ]:

from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer()

# create vectors from our words
train_x_vectors = bow_vectorizer.fit_transform(x_train)
test_x_vectors = bow_vectorizer.transform(x_test)

In [ ]:
len(bow_vectorizer.vocabulary_)

4761

##Model Building

In [ ]:
from sklearn import svm
name = "svm"
evaluation = []

print("training Extraversion cEXT using SVM...")
clf_svm_cEXT = svm.SVC(kernel='linear')
clf_svm_cEXT.fit(train_x_vectors, yEXT_train)
evaluation.append([name, "cEXT", clf_svm_cEXT.score(test_x_vectors, yEXT_test)])
print("cEXT score: ", clf_svm_cEXT.score(test_x_vectors, yEXT_test))

try:
    print("training Neuroticism cNEU using SVM...")
    clf_svm_cNEU = svm.SVC(kernel='linear')
    clf_svm_cNEU.fit(train_x_vectors, yNEU_train)
    evaluation.append([name, "cNEU", clf_svm_cNEU.score(test_x_vectors, yNEU_test)])
    print("cNEU score: ", clf_svm_cNEU.score(test_x_vectors, yNEU_test))
except:
    print("with this data not available (MBTI only 4 dimensions)")
    
print("training Agreeableness cAGR using using SVM...")
clf_svm_cAGR = svm.SVC(kernel='linear')
clf_svm_cAGR.fit(train_x_vectors, yAGR_train)
evaluation.append([ name, "cAGR", clf_svm_cAGR.score(test_x_vectors, yAGR_test)])

print("cAGR score: ", clf_svm_cAGR.score(test_x_vectors, yAGR_test))

print("training Conscientiousness cCON using SVM...")
clf_svm_cCON = svm.SVC(kernel='linear')
clf_svm_cCON.fit(train_x_vectors, yCON_train)
evaluation.append([ name, "cCON", clf_svm_cCON.score(test_x_vectors, yCON_test)])
print("cCON score: ", clf_svm_cCON.score(test_x_vectors, yCON_test))

print("training Openness to Experience cOPN using SVM...")
clf_svm_cOPN = svm.SVC(kernel='linear')
clf_svm_cOPN.fit(train_x_vectors, yOPN_train)
evaluation.append([ name, "cOPN", clf_svm_cOPN.score(test_x_vectors, yOPN_test)])
print("cOPN score: ", clf_svm_cOPN.score(test_x_vectors, yOPN_test))

training Extraversion cEXT using SVM...
cEXT score:  0.5678950025239778
training Neuroticism cNEU using SVM...
cNEU score:  0.602221100454316
training Agreeableness cAGR using using SVM...
cAGR score:  0.5406360424028268
training Conscientiousness cCON using SVM...
cCON score:  0.5729429581019687
training Openness to Experience cOPN using SVM...
cOPN score:  0.7269056032306915

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn import tree
name = "tree"
#evaluation = []

print("training Extraversion cEXT using TREE...")
clf_dec_cEXT = tree.DecisionTreeClassifier()
clf_dec_cEXT.fit(train_x_vectors, yEXT_train)
evaluation.append([name, "cEXT", clf_dec_cEXT.score(test_x_vectors, yEXT_test)])
print("cEXT score: ", clf_dec_cEXT.score(test_x_vectors, yEXT_test))

try:
    print("training Neuroticism cNEU using TREE...")
    clf_dec_cNEU = tree.DecisionTreeClassifier()
    clf_dec_cNEU.fit(train_x_vectors, yNEU_train)
    evaluation.append([name, "cNEU", clf_dec_cNEU.score(test_x_vectors, yNEU_test)])
    print("cNEU score: ", clf_dec_cNEU.score(test_x_vectors, yNEU_test))
except:
    print("with this data not available (MBTI only 4 dimensions)")
    
print("training Agreeableness cAGR using using TREE...")
clf_dec_cAGR = tree.DecisionTreeClassifier()
clf_dec_cAGR.fit(train_x_vectors, yAGR_train)
evaluation.append([ name, "cAGR", clf_dec_cAGR.score(test_x_vectors, yAGR_test)])

print("cAGR score: ", clf_dec_cAGR.score(test_x_vectors, yAGR_test))

print("training Conscientiousness cCON using TREE...")
clf_dec_cCON = tree.DecisionTreeClassifier()
clf_dec_cCON.fit(train_x_vectors, yCON_train)
evaluation.append([ name, "cCON", clf_dec_cCON.score(test_x_vectors, yCON_test)])
print("cCON score: ", clf_dec_cCON.score(test_x_vectors, yCON_test))

print("training Openness to Experience cOPN using TREE...")
clf_dec_cOPN = tree.DecisionTreeClassifier()
clf_dec_cOPN.fit(train_x_vectors, yOPN_train)
evaluation.append([ name, "cOPN", clf_dec_cOPN.score(test_x_vectors, yOPN_test)])
print("cOPN score: ", clf_dec_cOPN.score(test_x_vectors, yOPN_test))

training Extraversion cEXT using TREE...
cEXT score:  0.5360928823826351
training Neuroticism cNEU using TREE...
cNEU score:  0.5759717314487632
training Agreeableness cAGR using using TREE...
cAGR score:  0.5209490156486623
training Conscientiousness cCON using TREE...
cCON score:  0.5512367491166078
training Openness to Experience cOPN using TREE...
cOPN score:  0.6552246340232206

In [ ]:
from sklearn.naive_bayes import GaussianNB
name = "gNB"
#evaluation = []

print("training Extraversion cEXT using gNB...")
clf_gnb_cEXT = GaussianNB()
clf_gnb_cEXT.fit(train_x_vectors.toarray(), yEXT_train)
evaluation.append([name, "cEXT", clf_gnb_cEXT.score(test_x_vectors.toarray(), yEXT_test)])
print("cEXT score: ", clf_gnb_cEXT.score(test_x_vectors.toarray(), yEXT_test))

try:
    print("training Neuroticism cNEU using gNB...")
    clf_gnb_cNEU = GaussianNB()
    clf_gnb_cNEU.fit(train_x_vectors.toarray(), yNEU_train)
    evaluation.append([name, "cNEU", clf_gnb_cNEU.score(test_x_vectors.toarray(), yNEU_test)])
    print("cNEU score: ", clf_gnb_cNEU.score(test_x_vectors.toarray(), yNEU_test))
except:
    print("with this data not available (MBTI only 4 dimensions)")
    
print("training Agreeableness cAGR using using gNB...")
clf_gnb_cAGR = GaussianNB()
clf_gnb_cAGR.fit(train_x_vectors.toarray(), yAGR_train)
evaluation.append([ name, "cAGR", clf_gnb_cAGR.score(test_x_vectors.toarray(), yAGR_test)])

print("cAGR score: ", clf_gnb_cAGR.score(test_x_vectors.toarray(), yAGR_test))

print("training Conscientiousness cCON using gNB...")
clf_gnb_cCON = GaussianNB()
clf_gnb_cCON.fit(train_x_vectors.toarray(), yCON_train)
evaluation.append([ name, "cCON", clf_gnb_cCON.score(test_x_vectors.toarray(), yCON_test)])
print("cCON score: ", clf_gnb_cCON.score(test_x_vectors.toarray(), yCON_test))

print("training Openness to Experience cOPN using gNB...")
clf_gnb_cOPN = GaussianNB()
clf_gnb_cOPN.fit(train_x_vectors.toarray(), yOPN_train)
evaluation.append([ name, "cOPN", clf_gnb_cOPN.score(test_x_vectors.toarray(), yOPN_test)])
print("cOPN score: ", clf_gnb_cOPN.score(test_x_vectors.toarray(), yOPN_test))

training Extraversion cEXT using gNB...
cEXT score:  0.47753659767794043
training Neuroticism cNEU using gNB...
cNEU score:  0.447753659767794
training Agreeableness cAGR using using gNB...
cAGR score:  0.5037859666834932
training Conscientiousness cCON using gNB...
cCON score:  0.5017667844522968
training Openness to Experience cOPN using gNB...
cOPN score:  0.39121655729429583

In [ ]:
from sklearn.linear_model import LogisticRegression
name = "logR"
#evaluation = []

print("training Extraversion cEXT using LogR...")
clf_log_cEXT = LogisticRegression(solver="newton-cg")
clf_log_cEXT.fit(train_x_vectors, yEXT_train)
evaluation.append([name, "cEXT", clf_log_cEXT.score(test_x_vectors, yEXT_test)])
print("cEXT score: ", clf_log_cEXT.score(test_x_vectors, yEXT_test))

try:
    print("training Neuroticism cNEU using LogR...")
    clf_log_cNEU = LogisticRegression(solver='newton-cg')
    clf_log_cNEU.fit(train_x_vectors, yNEU_train)
    evaluation.append([name, "cNEU", clf_log_cNEU.score(test_x_vectors, yNEU_test)])
    print("cNEU score: ", clf_log_cNEU.score(test_x_vectors, yNEU_test))
except:
    print("with this data not available (MBTI only 4 dimensions)")
    
print("training Agreeableness cAGR using using LogR...")
clf_log_cAGR = LogisticRegression(solver='newton-cg')
clf_log_cAGR.fit(train_x_vectors, yAGR_train)
evaluation.append([ name, "cAGR", clf_log_cAGR.score(test_x_vectors, yAGR_test)])

print("cAGR score: ", clf_log_cAGR.score(test_x_vectors, yAGR_test))

print("training Conscientiousness cCON using LogR...")
clf_log_cCON = LogisticRegression(solver='newton-cg')
clf_log_cCON.fit(train_x_vectors, yCON_train)
evaluation.append([ name, "cCON", clf_log_cCON.score(test_x_vectors, yCON_test)])
print("cCON score: ", clf_log_cCON.score(test_x_vectors, yCON_test))

print("training Openness to Experience cOPN using LogR...")
clf_log_cOPN = LogisticRegression(solver='newton-cg')
clf_log_cOPN.fit(train_x_vectors, yOPN_train)
evaluation.append([ name, "cOPN", clf_log_cOPN.score(test_x_vectors, yOPN_test)])
print("cOPN score: ", clf_log_cOPN.score(test_x_vectors, yOPN_test))

training Extraversion cEXT using LogR...
cEXT score:  0.5734477536597677
training Neuroticism cNEU using LogR...
cNEU score:  0.6219081272084805
training Agreeableness cAGR using using LogR...
cAGR score:  0.5502271580010096
training Conscientiousness cCON using LogR...
cCON score:  0.5810196870267542
training Openness to Experience cOPN using LogR...
cOPN score:  0.7319535588086825

In [ ]:
from sklearn.ensemble import RandomForestClassifier
name = "RF"
#evaluation = []

print("training Extraversion cEXT using RF...")
clf_rf_cEXT = RandomForestClassifier()
clf_rf_cEXT.fit(train_x_vectors, yEXT_train)
evaluation.append([name, "cEXT", clf_rf_cEXT.score(test_x_vectors, yEXT_test)])
print("cEXT score: ", clf_rf_cEXT.score(test_x_vectors, yEXT_test))

try:
    print("training Neuroticism cNEU using RF...")
    clf_rf_cNEU = RandomForestClassifier()
    clf_rf_cNEU.fit(train_x_vectors, yNEU_train)
    evaluation.append([name, "cNEU", clf_rf_cNEU.score(test_x_vectors, yNEU_test)])
    print("cNEU score: ", clf_rf_cNEU.score(test_x_vectors, yNEU_test))
except:
    print("with this data not available (MBTI only 4 dimensions)")
    
print("training Agreeableness cAGR using using RF...")
clf_rf_cAGR = RandomForestClassifier()
clf_rf_cAGR.fit(train_x_vectors, yAGR_train)
evaluation.append([ name, "cAGR", clf_rf_cAGR.score(test_x_vectors, yAGR_test)])

print("cAGR score: ", clf_rf_cAGR.score(test_x_vectors, yAGR_test))

print("training Conscientiousness cCON using RF...")
clf_rf_cCON = RandomForestClassifier()
clf_rf_cCON.fit(train_x_vectors, yCON_train)
evaluation.append([ name, "cCON", clf_rf_cCON.score(test_x_vectors, yCON_test)])
print("cCON score: ", clf_rf_cCON.score(test_x_vectors, yCON_test))

print("training Openness to Experience cOPN using RF...")
clf_rf_cOPN = RandomForestClassifier()
clf_rf_cOPN.fit(train_x_vectors, yOPN_train)
evaluation.append([ name, "cOPN", clf_rf_cOPN.score(test_x_vectors, yOPN_test)])
print("cOPN score: ", clf_rf_cOPN.score(test_x_vectors, yOPN_test))

training Extraversion cEXT using RF...
cEXT score:  0.5739525492175669
training Neuroticism cNEU using RF...
cNEU score:  0.6229177183240787
training Agreeableness cAGR using using RF...
cAGR score:  0.5552751135790005
training Conscientiousness cCON using RF...
cCON score:  0.591115598182736
training Openness to Experience cOPN using RF...
cOPN score:  0.7410398788490661

##Evaluating results

In [ ]:
evaluation

[['svm', 'cEXT', 0.5678950025239778],
 ['svm', 'cNEU', 0.602221100454316],
 ['svm', 'cAGR', 0.5406360424028268],
 ['svm', 'cCON', 0.5729429581019687],
 ['svm', 'cOPN', 0.7269056032306915],
 ['tree', 'cEXT', 0.5360928823826351],
 ['tree', 'cNEU', 0.5759717314487632],
 ['tree', 'cAGR', 0.5209490156486623],
 ['tree', 'cCON', 0.5512367491166078],
 ['tree', 'cOPN', 0.6552246340232206],
 ['gNB', 'cEXT', 0.47753659767794043],
 ['gNB', 'cNEU', 0.447753659767794],
 ['gNB', 'cAGR', 0.5037859666834932],
 ['gNB', 'cCON', 0.5017667844522968],
 ['gNB', 'cOPN', 0.39121655729429583],
 ['logR', 'cEXT', 0.5734477536597677],
 ['logR', 'cNEU', 0.6219081272084805],
 ['logR', 'cAGR', 0.5502271580010096],
 ['logR', 'cCON', 0.5810196870267542],
 ['logR', 'cOPN', 0.7319535588086825],
 ['RF', 'cEXT', 0.5739525492175669],
 ['RF', 'cNEU', 0.6229177183240787],
 ['RF', 'cAGR', 0.5552751135790005],
 ['RF', 'cCON', 0.591115598182736],
 ['RF', 'cOPN', 0.7410398788490661]]

In [ ]:
d = pd.DataFrame(evaluation,columns=['1','2','3'])
#df.loc[df['#AUTHID'] == i
d1 = d.loc[d['2']=='cEXT']
d1
#RF
#57%

       1     2         3
0    svm  cEXT  0.567895
5   tree  cEXT  0.536093
10   gNB  cEXT  0.477537
15  logR  cEXT  0.573448
20    RF  cEXT  0.573953

In [ ]:
d2 = d.loc[d['2']=='cNEU']
d2
#RF
#62%

       1     2         3
1    svm  cNEU  0.602221
6   tree  cNEU  0.575972
11   gNB  cNEU  0.447754
16  logR  cNEU  0.621908
21    RF  cNEU  0.622918

In [ ]:
d3 = d.loc[d['2']=='cAGR']
d3
#RF
#55%

       1     2         3
2    svm  cAGR  0.540636
7   tree  cAGR  0.520949
12   gNB  cAGR  0.503786
17  logR  cAGR  0.550227
22    RF  cAGR  0.555275

In [ ]:
d4 = d.loc[d['2']=='cCON']
d4
#RF
#58%

       1     2         3
3    svm  cCON  0.572943
8   tree  cCON  0.551237
13   gNB  cCON  0.501767
18  logR  cCON  0.581020
23    RF  cCON  0.591116

In [ ]:
d5 = d.loc[d['2']=='cOPN']
d5
#RF 74%

       1     2         3
4    svm  cOPN  0.726906
9   tree  cOPN  0.655225
14   gNB  cOPN  0.391217
19  logR  cOPN  0.731954
24    RF  cOPN  0.741040

EVALUATING CLASSIFICATION REPORT FOR EACH BEST CLASSIFIER

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'criterion':['giny','entropy'],
    'max_depth': list(range(2,46,2)),
    'n_estimators': [100, 200]
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 10, n_jobs = -1, verbose = 2)
# Fit the grid search to the data
grid_search.fit(train_x_vectors, yEXT_train)

In [ ]:
print("##############EXTROVERTNES#############")
predEXT = grid_search.predict(test_x_vectors)
print(metrics.classification_report(yEXT_test,predEXT),"\n",grid_search.best_score_)
#grid_search.best_params_

##############EXTROVERTNES#############
              precision    recall  f1-score   support

           n       0.57      0.98      0.72      1112
           y       0.68      0.06      0.10       869

    accuracy                           0.57      1981
   macro avg       0.63      0.52      0.41      1981
weighted avg       0.62      0.57      0.45      1981

 0.597525379902429

In [ ]:
import pickle
Pkl_Filename = "cEXT.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(grid_search, file)

In [ ]:
gridNEU_search = grid_search.fit(train_x_vectors, yNEU_train)
#print(grid_search.best_params_,grid_search.best_score_)
print("##############EXTROVERTNES#############")
predNEU = gridNEU_search.predict(test_x_vectors)
print(metrics.classification_report(yNEU_test,predNEU),"\n",gridNEU_search.best_score_)

Fitting 10 folds for each of 88 candidates, totalling 880 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:   27.0s
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 880 out of 880 | elapsed: 13.0min finished

##############EXTROVERTNES#############
              precision    recall  f1-score   support

           n       0.63      1.00      0.77      1239
           y       0.82      0.01      0.02       742

    accuracy                           0.63      1981
   macro avg       0.72      0.51      0.40      1981
weighted avg       0.70      0.63      0.49      1981

 0.6275722228591081

In [ ]:
Pkl_Filename = "cNEU.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(gridNEU_search, file)

In [ ]:
gridOPN_search = grid_search.fit(train_x_vectors, yOPN_train)
#print(grid_search.best_params_,grid_search.best_score_)
print("##############OPENNESS#############")
predOPN = gridOPN_search.predict(test_x_vectors)
print(metrics.classification_report(yOPN_test,predOPN),"\n",gridOPN_search.best_score_)
Pkl_Filename = "cOPN.pkl"  
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(gridOPN_search, file)

Fitting 10 folds for each of 88 candidates, totalling 880 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   21.5s
[Parallel(n_jobs=-1)]: Done 591 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed: 12.8min
[Parallel(n_jobs=-1)]: Done 880 out of 880 | elapsed: 13.2min finished

##############OPENNESS#############
              precision    recall  f1-score   support

           n       1.00      0.01      0.03       492
           y       0.75      1.00      0.86      1489

    accuracy                           0.76      1981
   macro avg       0.88      0.51      0.44      1981
weighted avg       0.82      0.76      0.65      1981

 0.7439717158979453

In [ ]:
gridAGR_search = grid_search.fit(train_x_vectors, yAGR_train)
#print(grid_search.best_params_,grid_search.best_score_)
print("############AGR###############")
predAGR = gridAGR_search.predict(test_x_vectors)
print(metrics.classification_report(yAGR_test,predAGR),"\n",gridAGR_search.best_score_)
Pkl_Filename = "cAGR.pkl"  
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(gridAGR_search, file)

Fitting 10 folds for each of 88 candidates, totalling 880 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   21.6s
[Parallel(n_jobs=-1)]: Done 591 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 880 out of 880 | elapsed: 13.1min finished

############AGR###############
              precision    recall  f1-score   support

           n       0.52      0.10      0.16       921
           y       0.54      0.92      0.68      1060

    accuracy                           0.54      1981
   macro avg       0.53      0.51      0.42      1981
weighted avg       0.53      0.54      0.44      1981

 0.5602841147923115

In [ ]:
gridCON_search = grid_search.fit(train_x_vectors, yCON_train)
#print(grid_search.best_params_,grid_search.best_score_)
print("############CON############")
predCON = gridCON_search.predict(test_x_vectors)
print(metrics.classification_report(yCON_test,predAGR),'\n',gridCON_search.best_score_)
Pkl_Filename = "cCON.pkl"  
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(gridCON_search, file)

Fitting 10 folds for each of 88 candidates, totalling 880 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   21.6s
[Parallel(n_jobs=-1)]: Done 591 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed: 12.8min
[Parallel(n_jobs=-1)]: Done 880 out of 880 | elapsed: 13.2min finished

############CON############
              precision    recall  f1-score   support

           n       0.57      0.09      0.16      1061
           y       0.47      0.92      0.62       920

    accuracy                           0.48      1981
   macro avg       0.52      0.51      0.39      1981
weighted avg       0.52      0.48      0.37      1981

 0.5716474327130064

Saving the model with best suitable performance for future uses

In [ ]:
#Save the Modle to file in the current working directory
#Specifying the model name with best chosen performance can be stored by
#substituting the Pkl_Filename
#This creates cAGR.pkl


Pkl_Filename = "cNEU.pkl"  
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(clf_gnb_cNEU,file)

Pkl_Filename = "cAGR.pkl"  
with open(Pkl_Filename, 'wb') as file:  
  pickle.dump(clf_dec_cAGR,file)
Pkl_Filename = "cCON.pkl"  
with open(Pkl_Filename, 'wb') as file:  
  pickle.dump(clf_svm_cCON,file)
Pkl_Filename = "cOPN.pkl"  
with open(Pkl_Filename, 'wb') as file:  
  pickle.dump(clf_svm_cOPN,file)

In [ ]:
# Load the Model back from file with same name as saved in the working directory
with open('cAGR.pkl', 'rb') as file:  
    Pickled_AGR_Model = pickle.load(file)
with open('cCON.pkl', 'rb') as file:  
    Pickled_CON_Model = pickle.load(file)
with open('cEXT.pkl', 'rb') as file:  
    Pickled_EXT_Model = pickle.load(file)
with open('cNEU.pkl', 'rb') as file:  
    Pickled_NEU_Model = pickle.load(file)
with open('cOPN.pkl', 'rb') as file:  
    Pickled_OPN_Model = pickle.load(file)

In [ ]:
def clean_text(text):
  text = tokenization(text)
  text = unemotional_words(text)
  text = " ".join(text)
  return (text)

In [ ]:
def pred_personality(text):
  text = clean_text(text)
  text_vec = bow_vectorizer.transform([text])
  y_AGR_predict = Pickled_AGR_Model.predict(text_vec)  
  y_CON_predict = Pickled_CON_Model.predict(text_vec)  
  y_EXT_predict = Pickled_EXT_Model.predict(text_vec)  
  y_NEU_predict = Pickled_NEU_Model.predict(text_vec.toarray())  
  y_OPN_predict = Pickled_OPN_Model.predict(text_vec)  

  return (y_AGR_predict[0],y_CON_predict[0],y_EXT_predict[0],y_NEU_predict[0],y_OPN_predict[0])

In [ ]:
text = "We are still best friends"

print(pred_personality(text))

('n', 'n', 'n', 'y', 'y')